#comments{
    position: relative;
    padding-top: 20px;
    clear: both;
    font-size: 20px;
    max-width: 800px;
    margin: 0 auto;
}
#comments .comments-title{
    font-size: 20px;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 18px;
}
.comment-list li{
    padding-top:25px;
}

#respond {
    padding-top: 70px;
    border-top: 1px solid rgba(26,23,26,0.08);
    margin-top: 25px;
    color:#0082FF;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 18px;
}
h3#reply-title {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 30px;
    color:#000000;
}
figure, form {
    margin: 0;
}
form {
    display: block;
    margin-top: 0em;
}
p.comment-notes {
    font-size: 95%;
    color:#000000;
}
p.comment-form-cookies-consent {
    font-size: 95%;
}
.comment-form-cookies-consent input {
    display: inline !important;
    width: 20px !important;
}
.comment-form-cookies-consent label {
    display: inline;
    margin-left: 10px;
}
#respond label {
    padding-left: 0px;
    font-weight: 900;
    color: #3683f7;
}
label {
    cursor: pointer;
}
.wpcf7 input, #respond input, .wpcf7 textarea, #respond textarea {
    width: 97%;
}
.wpcf7 input, .wpcf7 textarea, #respond textarea, #respond input {
    margin-top: 12px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    max-width: 97%;
    margin-right: 2%;
    padding: 2.5% 1.5%;
    border: 0;
    font: 400 20px / 24px Montserrat;
    color: #000;
    background-color: #F8F8F8;
}
#respond input, #respond textarea {
    display: block;
    margin-top: 2px;
}
#commentform input:invalid, textarea:invalid {
    /*background-color: #f0dddd;*/
}
.article #respond #commentform input#submit, .single-episode #respond #commentform input#submit { 
    border-radius: 0;
    background: #0082ff;
    color: #fff;
    text-decoration: none;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: none;
    border: none;
    padding: 15px 45px;
    letter-spacing: .5px;
    position: relative;
    -webkit-transition: all .5s;
    transition: all .5s;
    margin: 0;
}
.article #respond #commentform input#submit:hover, .single-episode #respond #commentform input#submit:hover,
.article #respond #commentform input#submit:focus, .single-episode #respond #commentform input#submit:focus,
.article #respond #commentform input#submit:active, .single-episode #respond #commentform input#submit:active,
.article #respond #commentform input#submit:visited, .single-episode #respond #commentform input#submit:visited{ 
    background: #fff !important;
    color: #0082ff !important;
    border: 1px solid #0082ff !important;
}
#respond input#submit {
    text-decoration: none;
    line-height: 1;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    width: auto;
    text-shadow: none !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0px 6px 6px 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    text-transform: uppercase;
    border: 2px solid #fff;
    font: 600 14px / 32px Poppins;
    color: #1a171a;
    background: #ffffff;
    padding: 12px 28px 10px 28px;
    border-radius: 35px;
}
#commentform input.error,
#commentform textarea.error {
    border: 1px solid #f99;
}