#filters.row,
#filters-selected.row{
    margin: 0 auto;
}
.filter-wrapper{
    position: relative;
    background-color: #000000;
    color: #ffffff;
    height: 60px;
}

.filter-menu{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 0;
}
.filter-menu-wrapper{
    overflow: hidden;
    white-space: nowrap;
}
.filter-menu-wrapper:after{
    
}
.filter-menu-wrapper::-webkit-scrollbar {
    display: none;
}
.filter-text{
    padding: 15px 0;
}
.filter-menu-wrapper .btn{
    background-color:transparent;
    font-weight: 700;
    display: inline-block;
}
.filter-menu-wrapper .btn:hover,.btn:active,.btn:focus{
    border-color: transparent;
    outline: none;
    border-bottom-color: #ffffff;
    color: #ffffff;
}
.filter-menu-wrapper .btn.is-checked{
    outline: none;
    border-bottom-color: #ffffff;
    color: #ffffff;
}
#filter-menu-scrool-container{
    position: relative;
}

#filters #leftArrow {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid white; 
    position:absolute;
    left: 110px;
    top: 14px;
    display: none;

}
#filters #leftArrow:hover{
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent; 
    border-right:14px solid white; 
    left:111px;
    top: 12px;
    cursor: pointer;
}

#filters #rightArrow {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-left:10px solid white; 
    position:absolute;
    right:-20px;
    top: 14px;
    display: none;
}
#filters #rightArrow:hover {
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent; 
    border-left: 14px solid white; 
    right:-19px;
    top: 12px;
    cursor: pointer;
}
