.gform_wrapper {
    position: relative;
}
.gform_heading h3{
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 1.5px !important; 
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
}
.gf_page_steps{
    font-weight: 900;
    font-size: 16px;
}
#gig-contact-form .gform_wrapper form {
    text-align: left;
    max-width: 85% !important;
    margin: 0 auto;
}
.gform_wrapper form .gform_body{
    margin-top:40px;
}
.gform_wrapper form .gform_body input:not([type='button']):not([type='checkbox']):not(.datepicker){
    color: #212934;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    outline: 0;
    font-weight: 400 !important;
    font-size: 16px !important;
    letter-spacing: 0px !important;
    line-height: 22px;
    width: 100% !important;
    background: transparent;
    border: none;
    border-bottom: 1px solid #212934;
    margin-bottom: 20px;
}
.gform_wrapper form .gform_body textarea{
    color: #212934;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    outline: 0;
    font-weight: 400 !important;
    font-size: 16px !important;
    letter-spacing: 0px !important;
    line-height: 22px;
    width: 100% !important;
    background: transparent;
    margin-bottom: 20px;
}
.gform_wrapper form .gform_body .gfield_checkbox input[type='checkbox']{
    margin-top: 0px !important;
    width: 25px !important;
    height: 25px !important;
    cursor: pointer; 
}
.gform_wrapper form .gform_body .gfield_checkbox label{
    font-weight: 700;
    font-size: 16px;
}
.gform_wrapper form .gform_body .gf_progressbar{
    border-radius: 5px !important;
}
.gform_wrapper form .gform_body .gfield_select{
    border-radius: 3px;
    width: 100% !important;
    height: 40px;
}

.gform_wrapper form .gform_body .gform_page_footer a,
.gform_wrapper form .gform_footer a{
    margin-left: 0px !important;
    margin-top: 10px;
    font-weight: 700;
}
.gform_wrapper form .gform_body .gform_page_footer a:hover,
.gform_wrapper form .gform_footer a:hover{
    text-decoration: none;
}
.gform_wrapper form .gform_footer input[type='button'],
.gform_wrapper form .gform_footer input[type='submit'],
.gform_wrapper form .gform_body .gform_page_footer input[type='button'],
.gform_wrapper form .gform_body .gform_drop_area input[type='button']{
    padding: 14px 3px;
    width: 100% !important;
    background: #0082FF;
    border: 0;
    color: #fff;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}
.gform_confirmation_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
    min-height: 300px;
}

/* date picker style */

.ui-datepicker-header{
    background-color: #0082FF!important;
}

.ui-datepicker-header select{
    background-color: #fff!important;
    color: #0082FF!important;
    border: 0!important;
    border-radius: 2px;

}

.ui-datepicker-month{
    margin: 5px 5px 6px 0px!important;
}

.ui-datepicker-year{
    margin: 5px 0px 6px 0px!important;
}

.ui-datepicker-calendar .ui-state-default{
    background: #fff!important;
}

td.ui-datepicker-unselectable.ui-state-disabled{
    background-color: #eee!important;
}

.ui-datepicker-calendar .ui-state-active{
    border: 1px solid #0082FF!important;
    box-shadow: none!important;
    background: #0082FF!important;
    margin: 0!important;
    text-shadow: none!important;
    color: #fff!important;
}

#gig-contact-form.quote-box:before {
    position: absolute;
    top: -1; 
    left: 0;
    right: -1px;
    bottom: -1px;
    border: 1px solid #e2e2e2;
    content: '';
    pointer-events: none;
    background: #f8f8f8;
}
