.quiz .start-button {
    text-align: left!important;
    width: 100%;
    position: relative!important;
    padding: 0!important;
    max-width: 800px;
    margin: 0 auto;
}
.start-button a.start {
    margin-top: 50px;
    margin-bottom: 90px;
    display: inline-block;
    cursor: pointer;
}
.start-button a.btn-2:visited {
    background: #3683f7;
    color: #fff;
}

.summary-quiz .quiz-title{
    letter-spacing: 1.5px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #EC0E83;
    text-align: center;
    padding: 50px 0;
    font-size: 30px;
}
.summary-quiz .quiz-time_limit{
    letter-spacing: 1.5px;
    line-height: 30px;
    color: #000000;
    font-size: 17px;
}
.summary-quiz .quiz-time_limit span{
    letter-spacing: 1.5px;
    line-height: 30px;
    font-weight: bold;
    color: #0082FF;
    font-size: 25px;
}
.quiz .summary-quiz{
    margin-top: 35px;
}
.single-quiz .summary-post .qsm-spinner-loader{
    margin: 50px auto;
    display: block;
    font-size: 30px;
}
.single-quiz .summary-post .mlw_qmn_timer {
    letter-spacing: 1px;
    background: #0082FF;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,.10);
    -moz-box-shadow: 0 4px 8px rgba(0,0,0,.10);
    box-shadow: 0 4px 8px rgba(0,0,0,.10);
}
.single-quiz .summary-post .qmn_quiz_container .qmn_btn, .qmn_quiz_container .btn {
    background: #3683f7 !important;
    color: #fff !important;
    font-size: 14px!important;
    font-family: Montserrat,sans-serif;
    font-weight: 600;
    text-transform: none;
    border: none;
    padding: 15px 45px !important;
    letter-spacing: .5px;
    position: relative;
    -webkit-transition: all .5s;
    transition: all .5s;
    margin: 0;
}
.quiz_section{
    padding: 5px 0 5px 0!important; 
}
.mlw_qmn_question_number{
    float:left;
    padding-right: 5px;
}
.mlw_qmn_question span{
    font-weight: 700!important;
    font-family: Montserrat,sans-serif;
    line-height: 27px;
    font-size: 20px;
}
.qmn_radio_answers{
    margin-top: 15px;
    margin-bottom: 30px;
}
.qmn_radio_answers .qmn_mc_answer_wrap{
    font-family: Roboto;
    font-weight: 400!important;
    font-size: 15px;
}
.quiz_section .qmn_radio_answers label, .quiz_section .qmn_check_answers label, .quiz_section .qmn_accept_answers label {
    font-size: 15px!important;
    font-weight: 400!important;
}

