.single-post-podcast-share{
    margin: 65px auto;
    max-width: 800px;
}
.single-post-podcast-share .grid3column-share {
    position: relative;
}
.grid3column-share .lastcolumn-share {
    margin-right: 0% !important;
}
.grid3column-share{
    float: left;
    min-height: 2px;
    width: 31.3%;
}
.single-post-podcast-share a.single-post-share-btn {
    width: 90%;
    color: #fff;
    text-transform: uppercase;
    display: block;
    padding: 14px 10% 11px 0;
    text-align: center;
}
.single-post-podcast-share a.single-post-share-btn i {
    float: left;
    position: relative;
    color: #fff;
    font-size: 18px;
    line-height: 51px;
    background-color: rgba(255, 255, 255, 0.15);
    width: 48px;
    height: 48px;
    margin-top: -14px;
}
.single-post-podcast-share a.single-post-share-btn i .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.single-post-podcast-share a.single-post-share-btn:hover:after,
.single-post-podcast-share a.single-post-share-btn:after,
.single-post-podcast-share a.single-post-share-btn i {
    transition: 500ms;
    -webkit-transition: 500ms;
}
.single-post-podcast-share a.single-post-share-btn:hover:after {
    width: 100%;
    opacity: 1;
}
.single-post-podcast-share a.single-post-share-btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    color: #fff;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    opacity: 0;
}
.single-post-share-fcb.single-post-share-btn {
    background-color: #3f559a;
}
.single-post-share-twtr.single-post-share-btn {
    background-color: #52b3eb;
}
.single-post-share-mail.single-post-share-btn {
    background-color: #ffa459;
}
.single-post-podcast-share a {
    -webkit-transition-duration: 250ms;
    -webkit-transition-property: color, background-color, opacity, border;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-duration: 250ms;
    -moz-transition-property: color, background-color, opacity, border;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-duration: 250ms;
    -o-transition-property: color, background-color, opacity, border;
    -o-transition-timing-function: ease-in-out;
    transition-duration: 250ms;
    transition-property: color, background-color, opacity, border;
    transition-timing-function: ease-in-out;
}
.single-post-podcast-share a:hover{
    text-decoration: none;
}

@media only screen and (max-width: 767px)
{
    .grid3column-share {
        width: 100%;
        margin-bottom: 10px;
    }
    .single-post-podcast-share a.single-post-share-btn {
        width: 100%;
    }
}
