@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900);
body,
html {
    font-family: Montserrat, sans-serif;
    color: #000
}

@media (max-width:767.98px) {
    body,
    html {
        overflow-x: hidden
    }
}

body {
    overflow-x: hidden
}

.container-fluid,
.flex-container-fluid {
    max-width: 1600px
}

.pl-0 {
    padding-left: 0!important
}

.pr-0 {
    padding-right: 0!important
}

.p-0 {
    padding: 0!important
}

#masthead {
    padding: 15px 30px
}

#masthead .sticked-menu-logo {
    display: none
}

#masthead.sticked-menu .sticked-menu-logo {
    display: block
}

#masthead.sticked-menu .not-sticked-menu-logo {
    display: none
}

#masthead nav.navbar li a {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    color: #000a12;
    font-weight: 600;
    font-size: 10px;
    padding: 0;
    margin: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    text-decoration: none;
    border: none
}
.page_title{
    /*word-wrap: break-word;*/
}
#masthead nav.navbar li:not(.cart):not(.user-profile-nav) a{
    margin-left:25px;
}

#masthead nav.navbar li a:hover {
    color: #3683f7;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    text-decoration: none
}

#masthead.sticked-menu nav.navbar li a {
    color: #fff
}

#masthead.sticked-menu nav.navbar li a:hover {
    color: #000
}

#masthead nav.navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#masthead nav.navbar li {
    margin: 0 5px;
    float: none;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto
}

#masthead nav.navbar li.cart {
    margin: 0 10px
}

#masthead nav.navbar li div.cart-items {
    background-image: url(../images/Cart.svg);
    height: 32px;
    margin-top: 2px
}

#masthead nav.navbar li div.cart-items span {
    background: #3683f7;
    font-family: Montserrat, sans-serif;
    top: -6px;
    left: 24px;
    padding: 5px 7px
}

#masthead.sticked-menu nav.navbar li div.cart-items span {
    background: #fff;
    color: #000
}

#vo-logo {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 50px
}

#vo-logo .el-desktop {
    width: 170px
}

.el-desktop {
    display: none
}

#masthead nav.navbar li.login_menu a {
    border: 1px solid #000a12;
    padding: 10px 25px
}

.open-main-menu {
    z-index: 99;
    cursor: pointer
}

.site-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.site-bg .container-fluid {
    height: 100%;
    position: relative
}

.site-bg .row-sx {
    position: absolute;
    width: 100%;
    left: calc(-100% + 15px);
    top: 0
}

.site-bg .row-dx {
    position: absolute;
    width: 100%;
    left: calc(100% + 15px);
    top: 0
}

.site-bg .row {
    height: 100%
}

.site-bg .col-xs-1 {
    height: 100%;
    border-left: 1px solid #e2e2e2
}

#top-1 {
    padding: 0 15px;
    margin-top: 90px;
    position: relative
}

.title-60 {
    font-size: 50px;
     line-height: 32px
    
}

.title-60.black {
    font-weight: 900;
    line-height: 68px
}

.title-60 span {
    color: #3683f7
}

.title-50 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.25
}

.title-28 {
    font-size: 24px;
    font-weight: 500
}

.title-24 {
    font-size: 24px;
    font-weight: 500
}

.p-16 {
    font-size: 16px
}

.p-20 {
    font-size: 14px
}

.img-fluid {
    width: 100%
}

.custom-large {
    margin-right: -15px
}

.col-points {
    color: #fff;
    padding-top: 60px
}

.col-points ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.col-points ul li {
    margin-top: 30px
}

.col-points ul strong {
    font-size: 26px;
    font-weight: 300;
    display: block
}

.col-points ul span {
    font-size: 13px;
    font-weight: 500
}

.f-20 {
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    font-weight: 600
}

.f-20.black {
    color: #000
}

.f-20.lnk {
    -webkit-transition: all .5s;
    transition: all .5s
}

.f-20.lnk:hover {
    text-decoration: none;
    color: #3683f7
}

.f-20.medium {
    font-weight: 500
}

.btn-primary {
    background: #000;
    color: #fff;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    text-transform: none;
    border: none;
    padding: 15px 45px;
    letter-spacing: .5px;
    position: relative;
    -webkit-transition: all .5s;
    transition: all .5s
}

.btn-primary:before {
    content: '';
    border: 1px solid #000;
    background: 0 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 15px;
    left: -15px;
    display: inline-block;
    -webkit-transition: all .5s;
    transition: all .5s
}

.btn-primary:hover {
    background: #fff;
    color: #000
}

.btn-primary:hover:before {
    top: 0;
    left: 0
}

.btn-primary-2 {
    background: 0 0;
    color: #000;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    text-transform: none;
    border: 1px solid #000;
    padding: 15px 45px;
    letter-spacing: .5px;
    position: relative;
    -webkit-transition: all .5s;
    transition: all .5s;
    margin: 0
}

.btn-primary-2:hover {
    background: #000;
    color: #fff
}

.btn-2 {
    background: #3683f7;
    color: #fff;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    text-transform: none;
    border: none;
    padding: 15px 45px;
    letter-spacing: .5px;
    position: relative;
    -webkit-transition: all .5s;
    transition: all .5s;
    margin: 0
}

.btn-2:active,
.btn-2:focus,
.btn-2:hover,
.btn-2:visited {
    background: #fff;
    color: #3683f7;
    text-decoration: none
}

.btn-2.black {
    width: calc(100% - 30px);
    background: #000;
    display: inline-block;
    margin: 0 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase
}

.btn-2.black:active,
.btn-2.black:focus,
.btn-2.black:hover,
.btn-2.black:visited {
    color: #fff;
    background: #3683f7;
    text-decoration: none
}

.site-intro {
    text-align: center
}

.site-intro .p-20 {
    margin: 0 0 30px 0;
    text-align: left;
    font-family: Roboto;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.09px;
}

#business-plan h2.title-50 {
    font-family: Montserrat;
    font-size: 52px;
    font-weight: bold;
    line-height: 68px;
}
#business-plan .p-20 {
    font-family: Roboto;	
    font-size: 20px;	
    letter-spacing: 0.09px;	
    line-height: 29px;
}

#business-plan .flex-row .business-box span {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.09px;
    line-height: 27px;
}
#category-role-filter li a span{
    font-family: Roboto;
    font-size: 20px;	
    font-weight: bold;	
    letter-spacing: 0.2px;	
    line-height: 14px;
}

#case-study h3.title-60 {
    font-family: Roboto;
    font-size: 52px;
    line-height: 68px;
}

#case-study .f-20.medium {
    font-family: Roboto;
    font-size: 20px;
    letter-spacing: 0.09px;
    line-height: 29px;
    font-weight: normal !important;
}

#banner-reviews .excp.f-20 {
    font-family: Roboto;
    font-size: 20px;
    letter-spacing: 0.09px;
    line-height: 29px;
    font-weight: normal !important;
}

#banner-reviews .autho h6.f-20 {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 37px;
}

#banner-reviews .autho p {
    font-family: Roboto;
    font-size: 20px;
    letter-spacing: 0.09px;
    line-height: 29px;
    font-weight: normal !important;
}

#clients h2.title-50 {
    font-family: Montserrat;
    font-size: 52px;
    font-weight: bold;
    line-height: 68px;
}

#knowledge h2.title-50 {
    font-family: Montserrat;
    font-size: 52px;
    font-weight: bold;
    line-height: 68px;
}

#knowledge .flex-row div.p-20 {
    font-family: Roboto;
    font-size: 20px;
    letter-spacing: 0.09px;
    line-height: 29px;
}

#knowledge a.f-20.lnk.black {
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.2px;
    line-height: 14px;
    text-align: center;
}

#blog h4.title-28 {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 37px;
}

#blog a.f-20.lnk.black {
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.2px;
    line-height: 14px;
}

.site-intro h1 {
    margin: 0 0 30px 0;
    text-align: left
}

.site-intro .btn {
    margin-bottom: 60px
}
.col-desktop .explore_wrapper{
   margin-top: 50px; 
}
.col-desktop .explore_wrapper .explore_title{
   color: #B8C1CB;
   font-family: Roboto;	
   font-size: 14px;	
   font-weight: bold;	
   letter-spacing: 0.2px;	
   line-height: 14px; 
   padding-bottom: 5px;
}

.col-desktop {
    display: none
}

#scroll-row {
    margin-top: 60px
}

#scroll-row .bounce {
    position: relative;
    display: inline-block;
    margin-top: 30px
}

#business-plan {
    position: relative;
    z-index: 10
}

#business-plan .geo-shape-1 {
    margin-left: -90px;
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 500px
}

#business-plan .geo-shape-5 {
    margin-left: -90px;
    width: 200%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 500px
}

#business-plan h2 {
    margin: 90px 0
}

#business-plan .bg-mobile {
    background-image: url(../images/geo-shape-1.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain
}

#business-plan .bg-mobile-2 {
    background-image: url(../images/geo-shape-2.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    position: relative
}

#business-plan .bg-mobile-2 .tc {
    top: 60px
}

.business-box {
    background: #f8f8f8;
    position: relative;
    padding: 0;
    color: #000a12
}

.business-box:hover {
    color: #000a12;
    background: #e2e2e2
}

.business-box.nohover:hover {
    background: #f8f8f8
}

.business-box.blue {
    background: #3683f7
}

.business-box strong {
    position: absolute;
    top: 15px;
    left: 15px;
    font-weight: 900;
    font-size: 32px;
    color: #b8c1cb
}

.business-box span {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    font-weight: 500;
    font-size: 15px;
    padding: 0 15px;
    width: 100%;
    text-align: center
}

.business-box span b {
    font-weight: 900
}

.business-box i {
    position: absolute;
    bottom: 15px;
    left: 15px
}

.business-box:before {
    position: absolute;
    top: -1px;
    left: 0;
    right: -1px;
    bottom: -1px;
    border: 1px solid #e2e2e2;
    content: ''
}

.business-box:after {
    display: block;
    padding-bottom: 100%;
    content: ''
}

.col-flex-md-none {
    display: none
}

col-flex-sm-none {
    display: none
}

.mb-60 {
    margin-bottom: 60px
}

#timequote {
    position: relative;
    z-index: 5;
    margin-top: 30px
}

#timequote h2 {
    margin: 60px 0 30px 0
}

#timequote h2.title-50 {
    font-family: Montserrat;
    font-size: 52px;
    font-weight: bold;
    line-height: 68px;
}

#timequote .flex-row .p-20 {
    font-family: Roboto;
    font-size: 20px;
    letter-spacing: 0.09px;
    line-height: 29px;
}
#timequote h4.title-28 {
    margin-bottom: 20px;
}

#timequote .bg-mobile {
    background-image: url(../images/geo-shape-2.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain
}

#timequote .timequote-title {
    margin: 0;
    padding: 0;
}

#timequote .title-row {
    position: relative;
    z-index: 10;
    margin-bottom: 30px
}

#timequote .geo-shape-2 img {
    position: absolute;
    right: -85px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.quote-box {
    padding: 0
}

.quote-box:before {
    position: absolute;
    top: -1px;
    left: 0;
    right: -1px;
    bottom: -1px;
    border: 1px solid #e2e2e2;
    content: '';
    pointer-events: none
}

.quote-box .qb-wrap {
    color: #000;
    background: #f8f8f8;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: all .5s;
    transition: all .5s;
    padding-bottom: 15px
}

.quote-box .qb-wrap:before {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    content: '';
    pointer-events: none;
    -webkit-transition: all .5s;
    transition: all .5s
}

.quote-box .qb-wrap h3 {
    padding: 15px 15px 5px 15px;
    margin: 0;
    font-weight: 500;
    position: relative;
    z-index: 10;
    overflow: hidden;
    font-family: Montserrat;
    font-size: 24px;	
    letter-spacing: 0.2px;	
    line-height: 32px;
    height: 150px;
}
#roles-ajax .quote-box .qb-wrap h3{
     height: 85px;
}
.quote-box a{
     width: 100%;
}

.quote-box .qb-wrap strong {
    padding: 0 15px;
    display: inline-block;
    width: 100%;
    font-weight: 500;
    position: relative;
    z-index: 10;
    font-family: Montserrat;
    font-size: 24px;	
    letter-spacing: 0.2px;	
    line-height: 32px;
}

.quote-box .qb-wrap .quote-star {
    padding: 15px 15px 5px 15px;
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 10;
}

.quote-box .qb-wrap .quote-star img {
    margin-left: 2.5px;
    width: 20.36px
}

.quote-box .qb-wrap .quote-star img:first-child {
    margin-left: 0
}

.quote-box .qb-wrap .quote-review {
    padding: 0 15px;
    display: inline-block;
    width: 100%;
    color: #7e7e7e;
    position: relative;
    z-index: 10;
    font-family: Roboto;
    font-size: 18px;	
    letter-spacing: 0.09px;	
    line-height: 24px;
}

.quote-box .qb-wrap .excerpt {
    padding: 15px;
    color: #7e7e7e;
    position: relative;
    z-index: 10;
    -webkit-transition: all .5s;
    transition: all .5s;
    overflow: hidden;
    font-weight: normal;
    font-family: Roboto;
    font-size: 18px;
    letter-spacing: 0.09px;
    line-height: 24px;
    height: 195px;
}

.quote-box .qb-wrap i {
    padding: 0 15px;
    -webkit-transition: all .5s;
    transition: all .5s;
    display: inline-block;
    position: relative;
    z-index: 10;
    margin-bottom: 10px;
}

#role h5.subcategory {
    position: relative;
    z-index: 10;
    font-family: Roboto;	
    font-size: 18px;
    letter-spacing: 0.09px;	
    line-height: 24px;
    height:50px;
    margin-bottom: 60px;
}

.quote-box .qb-wrap:hover {
    text-decoration: none;
    background: #e2e2e2
}

.quote-box .qb-wrap:hover i {
    -webkit-transform: translateX(30px);
    transform: translateX(30px)
}

.quote-box .qb-wrap:hover:before {
    height: calc(100% + 10px)
}

.quote-box .qb-wrap:hover h3,
.quote-box .qb-wrap:hover .excerpt,
.quote-box .qb-wrap:hover .subcategory,
.quote-box .qb-wrap:hover .quote-review {
    color: #fff
}

.blue-border .qb-wrap:before {
    background: #0000b4;
}
.blue-border .subcategory {
    color: #0000b4;
}

.lightblue-border .qb-wrap:before {
    background: rgba(0,130,255,.9);
}
.lightblue-border .subcategory {
    color: rgba(0,130,255,.9);
}

.yellow-border .qb-wrap:before {
    background: rgba(254,193,0,.9);
}
.yellow-border .subcategory {
    color: rgba(254,193,0,.9);
}
.orange-border .qb-wrap:before {
    background: rgba(255,140,10,.9);
}
.orange-border .subcategory {
    color: rgba(255,140,10,.9);
}

.red-border .qb-wrap:before {
     background: rgba(255,95,95,.9);
}
.red-border.subcategory {
     color: rgba(255,95,95,.9);
}
.pink-border .qb-wrap:before {
     background: rgba(236,14,131,.9);
}
.pink-border.subcategory {
     color: rgba(236,14,131,.9);
}

.green-border .qb-wrap:before {
    background: #00d264;
}
.green-border .subcategory {
    color: #00d264;
}

.purple-border .qb-wrap:before {
    background: rgba(131,5,225,.9);
}
.purple-border .subcategory {
    color: rgba(131,5,225,.9);
}

#case-study {
    background: #000;
    color: #fff;
    position: relative;
    z-index: 10;
    margin-top: 180px;
    padding: 90px 0
}

#case-study #case-study-bg {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate3D(50%, -50%, 0);
    transform: translate3D(50%, -50%, 0);
    display: none
}

@media (min-width:768px) {
    #case-study #case-study-bg {
        display: block
    }
}

#case-study h3 {
    margin: 30px 0 30px 0;
    font-weight: 500
}

#case-study .btn {
    margin-top: 30px
}

#banner-reviews {
    padding: 120px 0;
    display: none;
    position: relative;
    z-index: 10
}

#banner-reviews .box-review .graph {
    font-weight: 900;
    color: #3683f7;
    font-size: 100px;
    line-height: 1
}

#banner-reviews .box-review .f-20 {
    font-weight: 500
}

#banner-reviews .box-review .autho {
    margin-top: 30px
}

#banner-reviews .box-review .autho p {
    font-weight: 500
}

#banner-reviews-mobile {
    padding: 60px 0
}

#banner-reviews-mobile .box-review .graph {
    font-weight: 900;
    color: #3683f7;
    font-size: 100px;
    line-height: 1
}

#banner-reviews-mobile .box-review .f-20 {
    font-weight: 500
}

#banner-reviews-mobile .box-review .autho {
    margin-top: 30px
}

#banner-reviews-mobile .box-review .autho p {
    font-weight: 500
}

.slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 23px;
}
@media (min-width:680px) {
    .slick-track {
        margin-left: 53px;
    }
}

.slick-track .slick-slide {
    margin: 0 10px;
    height: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    outline: 0
}

#clients {
    margin-top: 60px
}

#clients h2 {
    margin: 0 0 60px 0
}

@media (min-width:768px) {
    #clients h2 {
        margin: 0
    }
}

#clients .geo-shape-3 img {
    position: absolute;
    left: -270px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

#clients .deco-box-row {
    margin-top: -60px
}

#clients small {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    left: 0;
    text-align: center;
    padding: 0 15px
}

#clients small img {
    max-height: 100%;
}

@media (min-width:768px) {
    #clients .pull-down {
        position: relative;
        top: 50%
    }
    #clients .pull-down-2 {
        position: relative;
        top: calc(50% + 1px)
    }
}

@-webkit-keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}

.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite
}

.col-flex-hidden {
    visibility: hidden
}

.d-flex-none {
    display: none
}

em.tr-m {
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: #000;
    display: inline-block;
    position: absolute
}

em.bl-m {
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: #000;
    display: inline-block;
    position: absolute
}

em.blue {
    background: #3683f7
}

#knowledge {
    padding: 60px 0
}

#knowledge h2 {
    margin: 60px 0 30px 0
}

#knowledge .know-box {
    position: relative;
    display: inline-block;
    color: #fff;
    overflow: hidden;
    width: 100%
}
#knowledge #slick-slider-2 .know-box {
    /*width: 100vw;*/
}
#knowledge .know-box .latest-4-image {
    height: 170px;
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .5s;
    transition: all .5s;
}

#knowledge .know-box:active,
#knowledge .know-box:focus {
    color: #fff
}

#knowledge .know-box h4 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 0.09px;
    line-height: 27px;
}


#knowledge .know-box h4 sub {
    bottom: -10px;
    display: inline-block;
    width: 100%;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.08px;
    line-height: 22px;
}

#knowledge .know-box span {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #3683f7;
    background-image: url(../images/play.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    z-index: 10;
    -webkit-transition: all .5s;
    transition: all .5s
}

#knowledge .know-box:hover {
    text-decoration: none;
    color: #fff
}

#knowledge .know-box:hover img,
#knowledge .know-box:hover .latest-4-image{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    filter: none;
    -webkit-filter: grayscale(0)
}

#knowledge .know-box:hover span {
    background-color: #000
}

#knowledge .know-box.dark {
    color: #000
}

#knowledge .know-box.dark span {
    background-color: #000
}

#knowledge .know-box.dark:hover span {
    background-color: #3683f7
}

#slick-slider-2 {
    margin-top: 30px
}

#blog {
    margin: 10px 0 120px 0;
    position: relative;
    z-index: 10
}

#blog #blog-bg {
    position: absolute;
    bottom: 0;
    left: -150px;
    -webkit-transform: translate3d(0, 40%, 0);
    transform: translate3d(0, 40%, 0);
    z-index: -1;
    display: none
}

@media (min-width:1200px) {
    #blog #blog-bg {
        display: block
    }
}

#blog .box-blog {
    display: inline-block;
    background: #f8f8f8;
    color: #000a12;
    -webkit-transition: all .5s;
    transition: all .5s
}

#blog .box-blog .img-fluid {
    width: 100%;
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .5s;
    transition: all .5s
}

#blog .box-blog.bl {
    border-left: 1px solid #e2e2e2;
    position: relative;
    left: -1px
}

#blog .box-blog:focus,
#blog .box-blog:hover,
#blog .box-blog:visited {
    text-decoration: none
}

#blog .box-blog h4 {
    margin: 0;
    padding: 15px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 32px;
    height: 150px;
}

#blog .box-blog .latest-4-image {
    height: 250px;
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .5s;
    transition: all .5s;
}

#blog .box-blog p {
    padding-right: 20px;
    padding-left: 20px;
}

#blog .box-blog .excerpt {
    margin: 0;
    padding: 0 15px 15px 15px;
    color: #7e7e7e;
    font-weight: 400;
    font-family: Roboto;
    font-size: 18px;
    letter-spacing: 0.09px;
    line-height: 24px;
    max-height: 145px;
    overflow: hidden;
}

#blog .box-blog i {
    padding: 15px 15px 30px 15px;
    display: inline-block;
    -webkit-transition: all .5s;
    transition: all .5s
}

#blog .box-blog:hover {
    background: #e2e2e2
}

#blog .box-blog:hover i {
    -webkit-transform: translateX(30px);
    transform: translateX(30px)
}

#blog .box-blog:hover .img-fluid,
#blog .box-blog:hover .latest-4-image
{
    filter: none;
    -webkit-filter: grayscale(0)
}

#footer {
    position: relative;
    z-index: 11
}

#footer hr {
    height: 10px;
    background: #000
}

#footer .social a {
    display: inline-block;
    margin-left: 5px
}

#footer .social a:first-of-type {
    margin-left: 0
}

#footer .social img {
    max-height: 15px
}

#footer .social .language {
    margin-top: 30px
}

#footer h4 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 15px 0
}

#footer ul {
    padding: 0;
    margin: 0;
    list-style: none
}

#footer ul li {
    margin-top: 5px
}

#footer ul a {
    color: #7e7e7e;
    font-size: 16px;
    -webkit-transition: all .5s;
    transition: all .5s
}

#footer ul a:hover {
    text-decoration: none;
    color: #3683f7
}

.btn-3 {
    border: 1px solid #000a12;
    padding: 10px 40px 10px 25px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    color: #000a12;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    text-decoration: none;
    background-image: url(../images/arrow-down.svg);
    background-position: right 15px center;
    background-repeat: no-repeat;
    background-size: 15px
}

.btn-3:active,
.btn-3:focus,
.btn-3:hover,
.btn-3:visited {
    text-decoration: none;
    color: #000
}

.mt-60 {
    margin-top: 60px
}

.mt-30 {
    margin-top: 30px
}

.copyright {
    font-size: 10px;
    color: #7e7e7e
}

.copyright a {
    color: #7e7e7e;
    -webkit-transition: all .5s;
    transition: all .5s
}

.copyright a:active,
.copyright a:focus,
.copyright a:hover,
.copyright a:visited {
    text-decoration: none;
    color: #7e7e7e
}

.copyright a:hover {
    text-decoration: none;
    color: #000
}

.pay-method img {
    height: 15px;
    margin-left: 5px
}

.pay-method img:first-of-type {
    margin-left: 0
}

.last-row {
    padding-bottom: 30px
}

#main-menu-modal .navbar-collapse li a {
    color: #fff;
    padding-left: 30px
}

#main-menu-modal .navbar-collapse li.cart {
    color: #fff;
    padding-left: 30px
}

.top-thumb {
    text-align: center;
    border-right: 1px solid #fff;
    text-decoration: none
}

.top-thumb:last-of-type {
    border: none
}

.top-thumb img {
    width: 100%
}

.top-thumb h4 {
    margin: 0;
    padding: 15px 15px 5px 15px;
    background: #f8f8f8;
    color: #000a12;
    -webkit-transition: all .5s;
    transition: all .5s
}

.top-thumb p {
    margin: 0;
    padding: 0 15px 15px 15px;
    background: #f8f8f8;
    color: #778f9b;
    -webkit-transition: all .5s;
    transition: all .5s
}

.top-thumb:active,
.top-thumb:focus,
.top-thumb:hover,
.top-thumb:visited {
    text-decoration: none
}

.top-thumb:hover h4,
.top-thumb:hover p {
    background: #e2e2e2
}

.sidebar {
    padding: 0;
    position: relative;
    margin: 30px 0
}

.sidebar .sidebar-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: none
}

.sidebar .sidebar-menu li {
    border-top: 1px solid #e2e2e2
}

.sidebar .sidebar-menu li a {
    padding: 25px 0;
    background: #f8f8f8;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    width: 100%;
    color: #000a12;
    position: relative;
    -webkit-transition: all .5s;
    transition: all .5s
}

.sidebar .sidebar-menu li a:active,
.sidebar .sidebar-menu li a:focus,
.sidebar .sidebar-menu li a:hover,
.sidebar .sidebar-menu li a:visited {
    text-decoration: none
}

.sidebar .sidebar-menu li a span {
    position: relative;
    z-index: 15
}

.sidebar .sidebar-menu li a:before {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    content: '';
    pointer-events: none;
    -webkit-transition: all .5s;
    transition: all .5s
}

.sidebar .sidebar-menu li a.red:before {
    background: rgba(255,95,95,.9);
}
.sidebar .sidebar-menu li a.pink:before {
    background: rgba(236,14,131,.9);
}

.sidebar .sidebar-menu li a.green:before {
    background: #00d264;
}
.sidebar .sidebar-menu li a.yellow:before {
    background: rgba(254,193,0,.9);
}
.sidebar .sidebar-menu li a.orange:before {
    background: rgba(255,140,10,.9);
}
.sidebar .sidebar-menu li a.blue:before {
    background: #0000b4;
}
.sidebar .sidebar-menu li a.lightblue:before {
    background: rgba(0,130,255,.9);
}
.sidebar .sidebar-menu li a.purple:before {
    background: rgba(131,5,225,.9);
}

.sidebar .sidebar-menu li a:hover {
    background: #e2e2e2
}

.sidebar .sidebar-menu li a.active {
    color: #fff
}

.sidebar .sidebar-menu li a.active:before {
    width: 100%
}

.sidebar .sidebar-menu.forceShow {
    display: block
}

.sidebar .show-filters.forceShow {
    margin-top: 30px
}

@media (min-width:768px) {
    .sidebar {
        top: -10px;
        margin: 0
    }
    .sidebar .show-filters {
        display: none
    }
    .sidebar .sidebar-menu {
        display: block
    }
}

.load-more-row {
    text-align: center
}

#method h2.title-50{
    font-family: Montserrat;
    font-size: 52px;	
    font-weight: bold;	
    line-height: 68px;
}

#method .geo-shape-8,
#method-mobile .geo-shape-8 {
    margin-left: -90px;
    width: 200%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

#method h2,
#method-mobile h2 {
    margin: 90px 0 30px 0
}
.work-box h4.title-24{
    font-family: Montserrat;	
    font-size: 24px;	
    font-weight: 500;	
    letter-spacing: 0.2px;	
    line-height: 32px;
}
.work-box .w-text{
    font-family: Roboto;	
    font-size: 20px;	
    line-height: 29px;
}

@media (min-width:768px) {
    #method h2,
    #method-mobile h2 {
        margin: 300px 0 90px 0
    }
}

#method .work-box,
#method-mobile .work-box {
    position: relative
}

#method .work-box .work-arrow,
#method-mobile .work-box .work-arrow {
    position: absolute;
    width: 30px;
    top: 5px;
    left: 0;
    -webkit-transform: none;
    transform: none
}

@media (min-width:768px) {
    #method .work-box .work-arrow,
    #method-mobile .work-box .work-arrow {
        top: -35px;
        left: 15px;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }
}

@media (min-width:1200px) {
    #method .work-box .work-arrow,
    #method-mobile .work-box .work-arrow {
        top: 5px;
        left: -30px;
        -webkit-transform: none;
        transform: none
    }
}

#method .work-box h4,
#method-mobile .work-box h4 {
    margin: 0 0 30px 0;
    padding-left: 45px
}

@media (min-width:768px) {
    #method .work-box h4,
    #method-mobile .work-box h4 {
        padding-left: 0
    }
}

#method .work-box .w-text,
#method-mobile .work-box .w-text {
    color: #7e7e7e;
}

#method {
    display: none
}

#mid-banner {
    padding-top: 0;
    position:relative;
}

#mid-banner #join_us:before {
    content: '';
    position: absolute;
    width: 90%;
    height: calc(100% - 150px);
    background-color: #000;
    background-image: url(http://staging.viraloctopus.com/wp-content/themes/vo/images/black-hexagon.svg);
    background-repeat: repeat-y;
    background-position: left;
    display: inline-block;
    right: 0;
    bottom: -50px;
    z-index: 1;
}
#mid-banner #join_us .img-fluid {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #eee;
    width: 100%;
    height: 800px;
    position: relative;
    z-index: 2;
}
#mid-banner #join_us .img-fluid .join_us_content{
    width: 80%;
    float: right;
    margin-right: 50px;
    margin-top: 175px;
}
#mid-banner #join_us .img-fluid .join_us_content .join-title{
    color: #FFFFFF;	
    font-family: Montserrat;	
    font-size: 52px;	
    font-weight: bold;	
    line-height: 68px;
    padding-bottom: 35px;

}
#mid-banner #join_us .img-fluid .join_us_content .join-subtitle{
    color: #FFFFFF;	
    font-family: Roboto;	
    font-size: 20px;	
    letter-spacing: 0.09px;	
    line-height: 29px;    
    padding-bottom: 35px;

}


@media (min-width:992px) {
    #mid-banner {
        padding-top: 300px
    }
}

#mid-banner .desktop {
    display: none
}

#mid-banner .mobile {
    display: inline-block
}

.modal-content {
    min-height: 300px;
    width: 100%;
    min-width: 1px
}

@media (min-width:576px) {
    .business-box span {
        font-size: 15px
    }
}

@media (min-width:768px) {
    
    .modal-content {
        min-height: 300px;
        width: auto;
        min-width: 600px
    }
    #mid-banner .desktop {
        display: inline-block
    }
    #mid-banner .mobile {
        display: none
    }
    #method {
        display: block
    }
    #method-mobile {
        display: none
    }
    .load-more-row {
        text-align: left
    }
    .test-skils-row {
        text-align: center;
    }
    .site-intro {
        text-align: left
    }
    .site-intro .btn {
        margin-bottom: 0
    }
    .pay-method {
        text-align: right
    }
    .col-flex-hidden {
        visibility: visible
    }
    .d-flex-none {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
    .title-28 {
        font-size: 28px
    }
    .f-20 {
        font-size: 20px
    }
    #banner-reviews {
        display: block
    }
    #banner-reviews-mobile {
        display: none
    }
    #mid-banner {
        padding-top: 150px;
    }
    #mid-banner #join_us .img-fluid .join_us_content{
        width: 20%;
        float: right;
        margin-right: 200px;
        margin-top: 315px;
    }
    #mid-banner #join_us .img-fluid .join_us_content .join-title{
        padding-bottom: 35px;

    }
    #mid-banner #join_us .img-fluid .join_us_content .join-subtitle{
        padding-bottom: 35px;

    }
    
    #business-plan h2 {
        margin: 175px 0
    }
    #business-plan .bg-mobile,
    #business-plan .bg-mobile-2 {
        background: 0 0
    }
    #timequote .bg-mobile {
        background: 0 0
    }
    #timequote .timequote-title {
        padding: 120px 0;
    }
    .col-desktop {
        display: block
    }
    #top-1 {
        margin-top: 150px
    }
    #top-1:before {
        content: '';
        position: absolute;
        right: 0;
        bottom: -30px;
        width: 50%;
        height: calc(100% - 30px);
        background-color: #000;
        background-image: url(../images/black-hexagon.svg);
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block
    }
    #vo-logo {
        height: 42px;
        max-width: none
    }
    #masthead {
        padding: 15px 0 15px 0
    }
    #masthead .navbar-header {
        margin-left: 8.33333333%
    }
    body:not(.single-vo_gig):not(.single-vo_role):not(.error404) .site-bg {
        display: block
    }
    .el-desktop {
        display: inline-block
    }
    .el-mobile {
        display: none
    }
    #case-study h3 {
        margin-top: 0
    }
    .quote-box .qb-wrap .excerpt {
        height: 160px;
    }
    #blog {
        margin: 120px 0;
    }
    #blog .box-blog h4 {
       /* height: 95px; */
    }
    #blog .box-blog p {
        padding-right: 0;
        padding-left: 0;
    }
    #knowledge .know-box h4 {
        padding-right: 50px;
        padding-left: 15px;
        padding-bottom: 25px;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 0.09px;
        line-height: 27px;
    }
    #knowledge .know-box .latest-4-image {
        height: 320px;
    }
    .slick-track {
        margin-left: auto;
    }
    .slick-track .slick-slide {
        margin: 0 30px;
    }
    
    .quote-box .qb-wrap h3 {
        height: 150px;
    }
}

@media (min-width:992px) {
    #knowledge {
        padding: 0
    }
    .col-flex-sm-none {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
    .col-flex-sm-hidden {
        visibility: hidden
    }
    #timequote .timequote-title {
        margin: 210px 0;
        padding: 0
    }
    #masthead nav.navbar li {
        margin: 0 15px
    }
    #masthead nav.navbar li.cart {
        margin: 0 30px
    }
    #masthead nav.navbar li a {
        font-size: 13px
    }
}

@media (min-width:1200px) {
    .copyright {
        font-size: 14px
    }
    .pay-method img {
        height: 25px;
        margin-left: 10px
    }
    #timequote .title-row {
        margin-bottom: 0
    }
    em.tr {
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        background: #000;
        display: inline-block;
        position: absolute
    }
    em.tc {
        top: 0;
        left: 50%;
        width: 30px;
        height: 30px;
        background: #000;
        display: inline-block;
        position: absolute;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
    em.bl {
        bottom: 0;
        left: 0;
        width: 30px;
        height: 30px;
        background: #000;
        display: inline-block;
        position: absolute
    }
    em.blue {
        background: #3683f7
    }
    em.triangle-down-right {
        width: 100%;
        height: 0;
        padding-top: 100%;
        overflow: hidden
    }
    em.triangle-down-right:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        margin-top: -500px;
        border-top: 500px solid transparent;
        border-right: 500px solid #3683f7
    }
    .col-flex-md-none {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
    .col-flex-md-hidden {
        visibility: hidden
    }
    .business-box span {
        font-size: 18px
    }
    .title-60 {
        font-size: 55px
    }
    .title-50 {
        font-size: 42px
    }
    .p-20 {
        font-size: 18px
    }
    #vo-logo .el-desktop {
        width: auto
    }
    #masthead {
        padding: 30px 0 30px 0
    }
    #masthead .navbar-header {
        margin-left: 8.33333333%
    }
    .navbar-collapse.collapse {
        padding-right: 0
    }
    #masthead nav.navbar ul {
        margin-right: 8.33333333%
    }
    #masthead nav.navbar li {
        margin: 0 5px;
    }
}

@media (min-width:1441px) {
    .business-box span {
        font-size: 20px
    }
    .row-eq-height {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
    .title-60 {
        font-size: 60px
    }
    .title-55 {
        font-size: 50px
    }
    .p-20 {
        font-size: 20px
    }
    #masthead {
        padding: 30px 0 30px 0
    }  
    
}

@media (min-width:1600px) {
    .quote-box .qb-wrap {
        padding-left: 15px;
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 30px
    }
}

@media (min-width:1800px) {
    .custom-large {
        display: none
    }
    #masthead .navbar-header {
        margin-left: 15px
    }
}

@media (min-width:1945px) {
    #masthead .navbar-header {
        margin-left: 0
    }
}
@media (max-width: 766px) {
    .cart.mobilecart {
        display: block !important;
        position: absolute;
        top: -1px;
        right: 50px;
        zoom: 0.9;
    }
    .cart.mobilecart span{
        display: block !important;
    }
    #main-menu-modal li.cart{
        display:none !important;
    }
}
#fc .fc-action--checkout--button.generate-affiliate {
    background: rgb(0, 130, 255) !important;
    border: rgb(0, 130, 255) !important;
    display: none;
    margin: 0 auto !important;
    padding-left: 17px !important;
    padding-right: 17px !important;
}