a:not([href]):not([tabindex]) {
    color: #fff;
    text-decoration: none;
}
.infotext {
  display: inline;
}
select.m-select2 {
    opacity: 1;
    filter: alpha(opacity=1);
}
.m-login__wrapper {
    padding-top: 0px !important;
}
.wrapper-bg-login {
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
}
.append-container{
    padding: 5px;
}
.btn-login {
    background-color: #BAA75C !important;
    border:none !important;
}
.m-form__actions .row{
    padding: 10px;
}
.detail-booking-box{
    padding: 10px;
}
.detail-booking-box .form-box{
    padding: 5px;
    border-bottom: 1px solid #492ed5;
}
.btn.m-btn--custom.m-btn--air {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(91,92,66,0.19) !important;
    box-shadow: 0px 5px 10px 2px rgba(91,92,66,0.19) !important;
}
.btn.m-btn--custom.m-btn--air:hover {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(91,92,66,0.30) !important;
    box-shadow: 0px 5px 10px 2px rgba(91,92,66,0.30) !important;
}
.m-login.m-login--2 .m-login__wrapper .m-login__container {
    width: 450px;
    margin: 0 auto;
}
.divider{
    margin: 20px;
}
.m-portlet-login .m-login__logo img{
    width: 75%;
}
.m-brand.m-brand--skin-light {
    background: #282a3c;
}
.m-aside-left.m-aside-left--skin-light {
    background-color: #282a3c;
}
.li.m-menu__item.m-menu__item--active  m-badge--danger{
    color: white !important;
}
.m-login.m-login--2.m-login-2--skin-3 .m-login__container .m-login__head .m-login__title,.m-login.m-login--2.m-login-2--skin-3 .m-login__container .m-login__head .m-login__title a {
    font-size: 1em;
    color: #492ed5;
}
.m-login.m-login--2.m-login-2--skin-3 .m-login__container .m-login__form .form-control {
    color: #492ed5;
    background: #fff9f9;
}
.m-login.m-login--2.m-login-2--skin-3 .m-login__container .m-login__form .form-control:focus {
    color: #8876e2;
}
::placeholder {
    color: #8876e2;
    opacity: 1;
}
#m_login{
    background-image: url('../images/login-wallpaper.jpeg');
}
.m-portlet-login{
    padding: 20px;
    margin-top: 25%;
    background-color: #fff9f9;
    border-radius: 10px;
}
.m-btn--login{
    background-color: #492ed5;
    width: 200px;
    color: #fff;;
}
.m-btn--login:hover,active{
    background-color: #8876e2;
}
.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group .form-control{
    border-radius: 0px;
    border-bottom: 2px solid #8733d1;
    padding: 1.5rem 1.5rem;
    margin-top: 1.5rem;
}
.m-login__logo>img{
    width: 50%;
    margin-left: 25%;
}
.m-brand__logo-wrapper {
    width: 400px;
    font-size: 14px;
    color:white;
    font-weight: bold;
}
.m-brand__logo-wrapper:hover {
    color: #f6f7fc !important;
    text-decoration: none;
}

.m-brand__logo img{
    width: 150px;
}
.m-header--fixed .m-brand__logo-wrapper img {
    width: 150px;
}
.m-header--minimize-on .m-brand__logo-wrapper img {
    width: auto;
}
.m-menu__item.m-menu__item--active {
    background-color: rgba(255,255,255,0.5);
}
li.m-menu__item.m-menu__item--active > a span, li.m-menu__item.m-menu__item--active > a i {
    color: #7882d8 !important;
}
li.m-menu__item.m-menu__item--active > a i > span  {
    background-color: #7882d8 !important;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover {
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s;
        background-color: #ffffff;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__heading .m-menu__link-icon,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item>.m-menu__heading .m-menu__link-icon,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-icon {
        color: #8c8ea4;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item.m-menu__item--open {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    background-color: #ffffff;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item>.m-menu__heading .m-menu__ver-arrow,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__ver-arrow {
    color: #868aa8;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot>span,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot>span {
    background-color: #686984;
}
.m-header__bottom {
    background-color: #B4A04D !important;
}
.m-menu__item-here {
    margin-top: 26px;
}

/* BEGIN LOGIN */

.m-login__welcome {
    color: white !important;
    font-size: 50px;
}
.m-login__msg {
    color: white;
}

/* END LOGIN */


/* BEGIN OTHERS */
.m-scroll-top {
    background-color: #F8415A !important;
    border: 2px solid #B9001A;
}
.hidden {
    display: none !important;
}
.required:after{
    color: red;
    content: " *";

}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.img-preview {
    width: 100%;
    margin-top: 10px;
}
.label-data {
    padding-top: 10px;
}
#m_table_1_filter, #m_table_2_filter, #m_table_3_filter, #m_table_4_filter, #m_table_5_filter, .dataTables_filter  {
    right: 14px;
}
#m_table_1_paginate, #m_table_2_paginate, #m_table_3_paginate, #m_table_4_paginate, #m_table_5_paginate, .dataTables_paginate.paging_full_numbers {
    right: 14px;
    position: absolute;
}
.text {
    color: lightgray;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}
.m-subheader__breadcrumbs .m-nav__separator i {
    font-size: 10px;
}

.dataTables_filter {margin-bottom: auto;}

.produksi-buttons {
    position: fixed;
    bottom: 40px;
    left: 42%;
    z-index: 10000;
}

.target-produksi-buttons {
     position: fixed;
     bottom: 40px;
     left: 38%;
     z-index: 10000;
 }

.tasks-buttons {
    position: fixed;
    top: 700px;
    left: 38%;
    z-index: 10000;
}

.data-detail-section .row {
    padding: 0 !important;
}
.data-detail-section label {
    font-weight: bold;
}
.icon-status {
    font-size: 20px;
}
.text-info {
    font-weight: bold !important;
}
.form-no-padding .form-group {
    padding: 0 !important;
    margin: 0 !important;
}
.form-no-padding .form-group label, .form-no-padding .form-group div {
    padding: 0 !important;
}
.form-no-padding .form-group h2 {
    font-weight: normal !important;
}

.m-form__group .col-form-label:first-child {
    font-weight: bold;
}
.m-form__group .col-form-label:nth-child(2)::before {
    content: ": ";
}

/* END OTHERS */


@media (max-width: 768px) {
    .m-header--fixed .m-brand__logo-wrapper img {
        width: 40px;
    }
    .m-brand__logo-wrapper {
        font-size: 20px !important;
    }
}
@media (min-width: 480px) {
    #m_login{
        background-image: url('../images/login-wallpaper756.jpg');
    }
}
@media (max-width: 480px) {
    #m_login{
        background-image: url('../images/login-wallpaper425.jpg');
    }
    .m-login.m-login--2 .m-login__wrapper .m-login__container {
        width: 100%;
        margin: 0 auto;
    }
}
@media (min-width: 992px) {
    #m_login{
        background-image: url('../images/login-wallpaper1024.jpg');
    }
    .modal-xlg {
        max-width: 1100px;
    }
    .modal-xxlg {
        max-width: 1200px;
    }
    .modal-full {
        max-width: 98%;
    }
}
@media (min-width: 1200px) {
    #m_login{
        background-image: url('../images/login-wallpaper.jpg');
    }
    .m-menu__nav > li {
        /*padding: 24px 16px 24px 16px !important;*/
    }
    .m-header-menu {
        /*margin: auto !important;*/
    }
    .m-body.m-container--fluid {
        /*padding: 0px 20px;*/
    }
}

.wrapper-loading {
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 100000 !important;
}
.wrapper-loading-2 {
    top: 30%;
    left: 45%;
    position: absolute;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.load {
    position: relative;
    margin: 50px auto;
    width: 100px;
    height: 80px;
}

.gear {
    position: absolute;
    z-index: -10;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 5s infinite;
    animation: spin 5s infinite;
}

.two {
    left: 40px;
    width: 80px;
    height: 80px;
    -webkit-animation: spin-reverse 5s infinite;
    animation: spin-reverse 5s infinite;
}

.three {
    top: 45px;
    left: -10px;
    width: 60px;
    height: 60px;
}

.amExportButton {
    display: none !important;
}

.m-widget27 .m-widget27__pic .m-widget27__title>span {
    font-size: 2.5rem !important;
}
.m-widget27 .m-widget27__pic .m-widget27__title>span>span {
    font-size: 1.5rem;
    padding-right: 1rem;
}

.btn-login-roles {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
    border: 1px solid rgba(0,0,0,0);
    cursor: pointer;
}
.btn-login-roles i {
    font-size: 30px;
}
.btn-login-roles:hover {
    box-shadow: 0 0 3px red;
    background-color: rgba(255,255,255,0.5);
    color: black;
}

@-webkit-keyframes spin {
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spin-reverse {
    50% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes spin-reverse {
    50% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}


